*{
    margin: 0;
    padding: 0;
  }
  
  h4{
  color: orange;
  font-family: Serif	;
  }
p{
  font-family: Serif	;

}
h1{
  font-family: Serif	;

}
 
 h2{
  text-align: center;
  font-family: Serif;
  color: orange;
 }
  .navbar-toggler-icon{
    color: black;
    font-weight: bold;

 }
 hr{
  color:orange ;
 }
  #header{
    width: 100%;
    height: 70px;
    background-color: rgb(251, 245, 245);
  }
  

  #header ul li {
 color: black;
  }
  
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show :hover{
    color: orange;
  }
  .nav-item{
    margin: 5px;
    font-weight: bold;
    color: black;
  }
 .nav-item a{
  color: black;
 }
  .nav-item :hover{
    color: orange;
  }
  
  .nav-item active :hover{
    color: black;
  }

  .logo{
    color: orange;
    font-size: 30px;
  }
  
    /* hero */

.hero{
margin-top: 110px;
margin-bottom: 130px;
}
.hero h2{
  margin-right: 315px;
}

.herotext{
  margin-top: 70px;
}
.hero p{
  font-size: 20px;
}

.heroimg{
  border-radius: 50%;
  border: 2px solid rgb(240, 210, 210);
  margin-left: 190px;
  box-shadow: 0px 2px 15px rgb(250, 186, 68);
  width: 250px;
  height: 250px;
  margin-top: 75px;


}
.heroicone{
}
.heroicone a i{
  color: white;
  font-size: 34px;
   margin:5px;
  border-radius: 50%;
  background-color: #ffa7068c;
  padding: 7px 12px;
  /* margin-left: -5px; */
}


.heroicone i:hover{
  background: black;
}
.herobutton{
  margin-top: 20px;
  background-color: #ffa7068c;
  color:white;
  border: 3px solid white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 22px;
}

.herobutton:hover{
  background: transparent;
  border: 1px solid black;
  color: orange;
}

/* about */
.aboutbox{
  border: 2px solid white(27, 27, 27);
  background:rgb(252, 250, 250);
  box-shadow:wheat 0px 7px 20px 0px;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 105px;
  height: 300px;
  width: 100%;


}
.about img{
  border-bottom: 3px solid orange;
  border-radius: 10px;
  height: 180px;
  width: 200px;
  margin-top: 65px;
  margin-left: 85px;
}

.abouttext{
  padding-top: 50px;

}
.about p{
  font-size: 20px;
}

.about h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-top: 45px;
}
  .about h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: orange;
    bottom: 0;
    left: calc(50% - 25px);
  
  }




/* service */

.service{
  margin-top: 0;
  padding: 30px;
  margin-bottom: 0px;
}
.service h2{
  padding-bottom: 60px;
}
.service h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
  .service h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: orange;
    bottom: 0;
    left: calc(50% - 25px);
  
  }

.service .card{
  margin: 5px;
  padding: 5px;
  background:rgb(252, 250, 250);
  color: black;
  box-shadow:wheat 0px 7px 29px 0px;
  border: 1px solid rgb(252, 232, 232);

}

.service .card-body{
  text-align: center;
}
/* .service .card1{
  background-color: rgb(188, 5, 188);
} */

.service .card-body:hover{
  background-color: #ffa7068c;
  color: white;
}
.service .card1{
  background-color:#ffa7068c;
  color: white;


}
.service .card1 i{
  color: white;
}

 .service i{
  font-size: 60px;
  color: black;

 }
 .service i:hover{
  color:white;
 }
 .service p{
  font-size: 22px ;
 }



/* skill */

 .skills{
  height:400px;
  /* opacity: .60; */
  background: linear-gradient(rgba(240, 235, 235, 0.5), rgba(245, 243, 243, 0.5)),;
}
.skills h2{
  margin-top: 60px;
}

.skillitems{
margin-top: 50px;

}
.skills-slider.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden 
{
  padding: 60px 10px;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {

padding-bottom:0px;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active{
  color: red;
}
.swiper-pagination-bullet{
  background: orange;
}

 /* skills{
  padding: 270px;
  margin-bottom: -180px;
}
.cards .card{
  margin: 10px;
  border: 2px solid rgb(250, 229, 229);
  border-radius: 5px;
  background:rgb(252, 250, 250);
  box-shadow:wheat 0px 7px 29px 0px;
  margin-bottom: 80px;
}
.cards h2{
  margin-top: -195px;
  margin-bottom: -27px;
}
.cards h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-bottom: 10px;
  position: relative;
}
  .cards h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: rgb(200, 52, 200);
    bottom: 0;
    left: calc(50% - 25px);
  
  }

.card6{
width: 100%;
height: 450px;
padding: 80px;
padding-top: inherit;
}
.cardjs{
  padding: 60px;
}

.cardnpm{
  padding: 60px;
}

.cardcss{
  padding: 60px;
}
.cardhtml{
  padding: 30px;
}
.cardbs{
  padding: 30px;
} 
*/

/* count */


.counterdiv {
  padding-top: 140px;
  margin-bottom: 80px;
}
.count{
  padding-top: 10px;
}
.count-icone{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color:#fef9f9;
  padding: 20px;
  color: orange;
  margin-bottom: 50px;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  font-size: 35px;

}
.counterbox{
  border: 0px solid rgb(240, 233, 233);
  background-color: white;
  width: 100%;
  padding: 30px 30px 25px 30px;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  padding-top: 0px;
}
.counterdiv .count{
  font-size: 40px;
  font-weight: bold;
}


/* contact */
.contact{
  padding: 40px;
  padding-top: 110px;

  
}
.contact h2{
margin-top: -50px;
margin-bottom: 40px;
}
.contact h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
  .contact h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: orange;
    bottom: 0;
    left: calc(50% - 25px);
  
  }

.formStuff {
  /* padding-top: 20px; */
  /* padding-bottom: 10px; */
  width: 100%;
  padding: 20px;
  background-color: rgb(251, 245, 245);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bigformDiv{
  margin: 24px 0px 0px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 30px;

}
.bigFormTextarea{
  background-color:white;
  width: 95%;
  padding: 20px;
  border-radius: 0px;
  border: 1px solid rgb(207 205 205);  
  margin: 15px;
  margin-left: 20px;


}
.bigformbutton{
  border-radius: 30px;
  color: rgb(47, 45, 45);
  margin-top: 5px;
  background-color: #ffa7068c;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 20px;


}
.submitbtn{
  text-align: center;
}

#input-1{
  width: 100%;
  height: 50px;
  background: white;
  border: 1px solid rgb(207 205 205); 
  padding-left: 20px; 

}
.bigformbutton:hover{
background-color: black;
color: white;
}
/* work */
.work{
  margin: 10px;
  padding: 0px;
}
.worktab{
  margin: 20px 130px;
  padding: 0px;
}


.work-img{
  padding: 120px;
}


.work img{
margin: 0px;
padding: 25px;
}
.work h2{
  margin-top: 45px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
  .work h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: orange;
    bottom: 0;
    left: calc(50% - 25px);
  
  }


 .workcontent{
  background: rgb(248, 238, 238);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #ffa7068c;
}


.work .nav-item {
  margin-left: 190px;
}
.nav-pills .nav-link{
  background-color: rgb(251, 245, 245);
  color: black;
}




/* footer */
.footerDiv{
  background-color: rgb(251, 245, 245);
  color: black;
  height: 200px;
  margin-top: 20px;
  padding-top: 70px;
  text-align: center;
  padding-bottom: 20px; 
}

b{
  color:orange;
}
.footerparts{
  border-right: 3px solid  orange;
}

@media only screen and (max-width:500px){

  .navbar-toggler-icon{
    color: black;
    font-weight: bold;

 }
 .order-1{order: 2 !important;}
 .order-2{order: 1 !important;}

 ul.navbar-nav{
  position: absolute;
  right: -9px;
  top: 64px;
  background: #fff;
  padding: 7px 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .logo {
    font-size: 26px;
   }
  

  .hero{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 60px;
  }
  .hero h2{
    margin-right: 0;
  }
  .herotext{
    margin-top: 70px;
    padding: 10px 40px;
  }
  
.hero p{
  font-size: 20px;
}
.heroimg{
  margin-left: 10px;
  margin-top: 95px;
}
.heroicone a i {
padding: 11px 15px;
}
.herobutton{
  padding: 14px 18px;
  font-size: 28;
}
.about{
  text-align: center;
}
.aboutbox {
  height: auto;
  padding: 40px 30px;
  margin-top: 0;
  justify-content: center;
  margin-bottom: 90px;
  width: auto;
}

.abouttext{
  padding-top: 0;
}
.about img{
  height: auto;
  justify-content: center;
  border: none;
  margin-left: 0;
  width: auto;
  margin-top: 20px;
}
.about p{
  font-size: 20px;
  text-align: justify;
}

.about h2{
  margin-top: 40px;
}
.skills{
  height: auto;
}
.skillitems{
  margin-top: 0px;
}
.work .nav-item{
  margin-left: 1;
}
.service{
  padding: 30px 5px; 
}
.service .card{
  margin: 30px 5px;
  /* padding: 30px 5px; */
}
.service h2{
  margin-top: 40px;
}
.counterdiv {
    padding-top: 110px;
   /* padding-bottom: 90px; */
   /* margin: 25px 22px; */ 
   padding: 15px 24px;
  }
.counterbox{
  width: auto;
  padding: 0;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom:30px ;
}
.contact{
  padding: 10px;
}

.work img{
  padding: 5px;
}

.workcontent{
  padding: 5px 0;
  margin: 5px -25px;
}

.worktab{
  margin: 12px 0px;
  font-size: 14px ;
}
.work .nav-item{
  margin: 12px 14px;
  font-size: 14px ;
}

/* .bigformbutton{
  margin-left: 60px;
} */

.bigFormTextarea {
  width: 80%;
}

}
.footerDiv{
  height: auto;
}

@media only screen and (max-width:800px){

  .hero{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 60px;
  }
  .order-1{order: 2 !important;}
  .order-2{order: 1 !important;}
  
  ul.navbar-nav{
    position: absolute;
    right: -9px;
    top: 64px;
    background: #fff;
    padding: 7px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .logo {
      font-size: 28px;
     }
  
  

  .hero h2{
    margin-right: 0;
  }
.heroimg{
  margin-left: 20px;
  margin-top: 80px;
}
.herotext{
  margin-top: 80px;
}
.hero p{
  font-size: 26px;
}
.heroicone{
  margin-top: 30px;
  margin-bottom: 20px;
}
.heroicone a i {
  padding: 11px 15px;
  margin: 5px;

  }
  .herobutton{
    padding: 16px 22px;
    font-size: 28px;
  }
  

.about{
  text-align: center;
}
.aboutbox{
  height: auto;
  padding: 40px 30px;
  margin-top: 0;
  justify-content: center;
  margin-bottom: 90px;
  width: auto;
}
.abouttext{
  padding-top: 20px;
}
.about p{
  font-size: 26px;
}

.about img{
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 20px;
}
.service{
  padding: 0; 
}
.service h2{
  margin-top: 70px;
}
.service p {
  font-size: 20px;
}
.service .card1 {
  margin: 0;
}

/* .bigformbutton{
  margin-left: 60px;
} */

.bigFormTextarea {
  width: 90%;
}
.work .nav-item{
  margin: 12px 14px;
  font-size: 14px ;
}
.work img{
  max-width: 100%;
  height: auto;
}
.counterbox{
  width: auto;
  padding: 0;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom:40px ;
}
.counterdiv{
  padding-top: 90px;
}

.bigformbutton{
  padding: 16px 30px;
  font-size: 22px;
}


}

